.nr{padding: 10px;}
.inner-outlet{
    padding: 8px;
    border: 1px solid blue;
    background: burlywood;
    height: 60px;
}
.auxilary-outlet{
    border: 1px solid green;
    padding: 10px;
    background: coral;
    margin-top: 2px;
    height: 60px;
}