<div class="main-container">
    <a routerLink="/">Home</a>
    <a routerLink="/nestedComponent">Nested<br>Components</a>
    <a routerLink="/structDirective">Structural<br>Directives</a>
    <a routerLink="/attrDirective">Attribute<br>Directives</a>
    <a routerLink="/pipe">Pipe</a>
    <a routerLink="/service">Service</a>
    <a routerLink="/templetForm">TempletForm</a>
    <a routerLink="/reactiveForm">ReactiveForm</a>
    <a routerLink="/nestedRouter">NestedRouter</a>
    <a routerLink="/paramPassingRouter">ParamPassingRouter</a>
    <a routerLink="/auxilaryRouter">AuxilaryRouter</a>

    <div class="outer-outlet">
        <router-outlet></router-outlet>
    </div>
</div>
