<div class="main-container">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home<br>Comp</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/nestedComponent" routerLinkActive="active">Nested<br>Comp</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/binding" routerLinkActive="active">Binding<br>Comp</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/structDirective" routerLinkActive="active">Structural<br>Directives</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/attrDirective" routerLinkActive="active">Attribute<br>Directives</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pipe" routerLinkActive="active">Pipe<br>Comp</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/service" routerLinkActive="active">Service<br>Comp</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/form" routerLinkActive="active">All<br>Form</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/nestedRouter" routerLinkActive="active">Nested<br>Router</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/paramPassingRouter" routerLinkActive="active">Param<br>Router</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/auxilaryRouter" routerLinkActive="active">Auxilary<br>Router</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/lazy-loading-path" routerLinkActive="active">Lazy<br>Loading</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/rxjs" routerLinkActive="active">Rxjs<br>Operator</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/microforntend" routerLinkActive="active">Micro<br>Frontend</a></li>
    </ul>
    <div class="outer-outlet">
        <router-outlet></router-outlet>
    </div>
</div>
